<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="all_co" resultType="DB.P_MemBean">
		select * from per_board
	</select>
	<select id="all_per" resultType="DB.CO_MemBean">
		select * from co_board
	</select>

</mapper>