<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="co_board">
	<select id="all_file" resultType="DB.FileBean">
		select * from fileupload order by f_num desc
	</select>
	<select id="all_per" resultType="DB.P_MemBean">
		select * from per_member
	</select>
	
	
	
	
	
	
	
	
	
	
	
	<select id="all_fileDate" resultType="DB.FileBean">
		select * from fileupload order by f_regdate desc
	</select>

	<select id="all_fileRead" resultType="DB.FileBean">
		select * from fileupload order by f_readCount desc
	</select>
	
	
	<select id="getCategory" parameterType="DB.FileBean" resultType="java.lang.Integer">
	   select from fileupload  where f_category = #{f_category}
	</select>
	
	<select id="FileView" parameterType="DB.FileBean" resultType="java.lang.Integer">
		select max(q_num) from fileupload 
	</select>
	<select id="getFileCount" parameterType="DB.FileBean" resultType="java.lang.Integer">
		select count(*) from fileupload 
	</select>
	
	<select id="title_File" parameterType="DB.QNABean" resultType="java.lang.Integer">
		select count(*) from fileupload  where f_title like '%'|| #{f_title} || '%'
	</select>
	<select id="description_File" parameterType="DB.QNABean" resultType="java.lang.Integer">
		select count(*) from fileupload where f_description like '%'|| #{f_description} || '%'
	</select>
	
	<select id="getFileInfo" parameterType="java.util.HashMap" resultType="DB.QNABean">
		select f_num ,f_id, realpath, f_regdate, f_title, f_desciption, f_readCount,f_category, r from 
		(select f_num ,f_id, realpath, f_regdate, f_title, f_desciption, f_readCount,f_category, ROWNUM r from order by f_num DESC) 
		<![CDATA[     
		where r>=#{start} 
		 ]]>
		 <![CDATA[
		 and r<=#{end}
		 ]]>
	</select>
	
	<select id="option" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from fileupload where #{option} like '%'|| #{search} || '%'
	</select>
	<select id="search" parameterType="java.util.HashMap" resultType="java.util.List">
		select * from fileupload where #{option} like '%'|| #{search} || '%'
	</select>
	
		<select id="categoryCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from fileupload where f_category=#{f_category}
		</select>
		
		<select id="sanup_categoryCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from fileupload where #{f_category} '%'|| 0 || '%'
		</select>
		
		<select id="web_categoryCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from fileupload where #{f_category} '%'|| 1 || '%'
		</select>
		
		<select id="sigak_categoryCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from fileupload where #{f_category} '%'|| 2 || '%'
		</select>
		
		
	
	<select id="categoryList" parameterType="java.util.HashMap" resultType="java.util.List">
		select * from fileupload where f_category=#{f_category}
	</select>
	
	<select id="sanup_categoryList" parameterType="java.util.HashMap" resultType="java.util.List">
		select * from fileupload where #{f_category} '%'|| 0 || '%
	</select>
	<select id="web_categoryList" parameterType="java.util.HashMap" resultType="java.util.List">
		select * from fileupload where #{f_category} '%'|| 1 || '%
	</select>
	<select id="sigak_categoryList" parameterType="java.util.HashMap" resultType="java.util.List">
		select * from fileupload where #{f_category} '%'|| 2 || '%
	</select>
</mapper>