<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="co_board">
	<select id="all_file" resultType="DB.FileBean">
		select * from fileupload order by f_num desc
	</select>
	<select id="all_per" resultType="DB.P_MemBean">
		select * from per_member
	</select>
	<select id="getCategory" parameterType="String" resultType="DB.FileBean">
	    select * from fileupload  where f_category = #{category}
	</select>
	<select id ="getDateOrder" resultType="DB.FileBean">
	    select * from fileupload order by f_regdate desc
	</select>
	
	<select id ="getReadOrder" resultType="DB.FileBean">
	    select * from fileupload order by f_readcount desc
	</select>
	
	
	
	<select id="getTitle" parameterType="String" resultType="DB.FileBean">
		select * from fileupload where f_title like '%'||#{f_title}||'%'
	</select>
	
	
	<select id="getDescription" parameterType="String" resultType="DB.FileBean">
		select * from fileupload where f_description like '%'||#{f_discription}||'%'
	</select>
	
	<select id="inform_per" parameterType="Integer" resultType="String">
		select p_id from fileupload where f_num=#{f_num}
	</select>
	<select id="infom" parameterType="String" resultType="DB.P_MemBean">
    	select p.p_gender, p.p_address, p.p_tel, p.p_phone, p.p_email, p.p_birth, p.p_career, p.rp_award
    	from per_member p, fileupload f where p.p_id=#{f.p_id};
    </select>
		
</mapper>