<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co_member">
	<select id="confirm" parameterType="String" resultType="String">
		select co_passwd from co_member where co_id=#{co_id}
	</select>
	<insert id="add" parameterType="DB.Co_MemBean">
		insert into co_member values(#{co_id},#{co_passwd}, #{co_number}, #{co_com}, #{co_boss},#{co_job}, 
		#{co_subjob},#{co_category}, #{co_name}, #{co_email}, #{co_tel}, #{co_phone},  0)
	</insert>
	<update id="modify" parameterType="DB.Co_MemBean">
		update co_member set co_passwd=#{co_passwd}, co_name=#{co_com}, co_boss=#{co_boss}, co_job=#{co_job},
		co_subjob=#{co_subjob}, co_category=#{co_category}, co_name=#{co_name}, co_phone=#{co_phone},
		co_tel=#{co_tel}, co_email=#{co_email}, co_number=#{co_number} where co_id=#{co_id} 
	</update>
	<select id="confirmId" parameterType="String" resultType="String">
		select co_id from co_member where co_id=#{co_id}
	</select>
	<delete id="remove" parameterType="String">
		delete from co_member where co_id=#{co_id}
	</delete>
	<select id="list" resultType="DB.Co_MemBean">
		select * from co_member 
	</select>
	<select id="find" parameterType="String" resultType="DB.Co_MemBean">
		select * from co_member where co_id=#{co_id}
	</select>
	<select id="find_passwd" parameterType="String" resultType="String">
		select co_passwd from co_member where co_id=#{co_id}
	</select>
	<select id="get" parameterType="String" resultType="DB.Co_MemBean">
		select * from co_member where co_id=#{co_id}
	</select>
</mapper>
