<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co_member">
	<insert id="add" parameterType="DB.Co_MemBean">
		insert into co_member values(#{co_id},#{co_passwd}, #{co_number}, #{co_com}, #{co_boss},#{co_job}, 
		#{co_subjob},#{co_category}, #{co_name}, #{co_email}, #{co_phone})
	</insert>
	<update id="modify" parameterType="DB.Co_MemBean">
		update co_member set co_passwd=#{co_passwd}, co_name=#{co_com}, co_boss=#{co_boss}, co_job=#{co_job},
		co_subjob=#{co_subjob}, co_category=#{co_category}, co_name=#{co_name}, co_phone=#{co_phone} 
		where co_id=#{co_id} 
	</update>
	<delete id="remove" parameterType="java.lang.String">
		delete from co_member where co_id=#{co_id} and co_passwd=#{co_passwd}
	</delete>
	<select id="list" resultType="DB.Co_MemBean">
		select * from co_member 
	</select>
	<select id="find" parameterType="String" resultType="DB.Co_MemBean">
		select * from co_member where co_id=#{co_id}
	</select>
	<select id="getInfo" parameterType="String" resultType="hashmap">
		select * from co_member where co_id=#{co_id}
	</select>
</mapper>
