<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="file">
    <select id="all" parameterType="String" resultType="DB.FileBean">
        select * from fileupload where p_id=#{p_id}        
    </select>
    <select id="allbyfname" parameterType="String" resultType="DB.FileBean">
        select f_filename from fileupload where f_num=#{f_num}        
    </select>
    
    <select id="info" parameterType="String" resultType="DB.FileBean"> 
        select * from fileupload where f_filename=#{f_filename}        
    </select>
    <select id="ca" parameterType="String" resultType="DB.FileBean">
        select * from fileupload where f_category like '%'|| #{fileList} ||'%'       
    </select>
    <select id="ti" parameterType="String" resultType="DB.FileBean">
        select * from fileupload where f_title  like '%'|| #{fileList} ||'%'       
    </select>
    <select id="de" parameterType="String" resultType="DB.FileBean">
        select * from fileupload where f_description like '%'|| #{fileList} ||'%'   
    </select>
      

    <delete id="delete" parameterType="String">
        delete from fileupload where f_filename=#{f_filename}
    </delete>

    <update id="modify" parameterType="String">
		update fileupload set f_title=#{f_title}, realpath=#{realpath}, f_description=#{f_description}, f_category=#{f_category}
		where f_filename=#{f_filename}
	</update>
</mapper>