<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="file">
    <select id="all" parameterType="String" resultType="DB.FileBean">
        select * from fileupload where p_id=#{p_id}        
    </select>
    <select id="allbyfname" parameterType="String" resultType="DB.FileBean">
        select f_filename from fileupload where f_num=#{f_num}        
    </select>
    
    <select id="info" parameterType="String" resultType="DB.FileBean">
        select * from fileupload where f_filename=#{f_filename}        
    </select>
    
    <select id="infom" parameterType="String" resultType="DB.P_MemBean">
    	select p.p_gender, p.p_address, p.p_tel, p.p_phone, p.p_email, p.p_birth, p.p_career, p.rp_award
    	from per_member p, fileupload f where p.p_id=f.p_id;
    </select>
      
    <delete id="delete" parameterType="DB.FileBean">
        delete from fileupload where f_filename='#{f_filename}'
    </delete>
    
    <update id="modify" parameterType="DB.Co_MemBean">
		update fileupload set f_title=#{f_title}, realpath=#{realpath}, f_description=#{f_description}, f_category=#{f_category}
		where f_num=#{f_num}
		
	</update>
</mapper>