<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="message">

	<select id="list" resultType="DB.Message">
		select m_title,m_regdate,m_count from message where m_title=#{m_title},m_regdate=#{m_regdate},m_count=#{m_count} 
	</select>

	<select id="co_com" resultType="DB.Message">
		select co_com from co_member where co_com=#{co_com} 
	</select>
</mapper>