<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="message">

	<insert id="add" parameterType="DB.Message">
		insert into message values(#{p_id},#{co_id}, #{m_title},#{m_context}, #{m_regdate},#{m_count})
	</insert>
	<delete id="del" parameterType="DB.Message">
		delete from message where p_id=#{p_id} and co_id=#{co_id} and m_title=#{m_title} and m_context=#{m_context} and m_regdate = #{m_regdate} and m_count = #{m_count}
	</delete>
	<select id="set" parameterType="DB.Message">
		select m_title, m_regdate, m_count from message where m_title=#{m_title} and m_regdate=#{m_regdate} and m_count=#{m_count} 
	</select>
	<!-- join 으로 co_id값 일치하는 co_member의 정보들 가져옴 -->
	<select id="co_list" parameterType="DB.Co_MemBean">
		select * from co_member where co_id=#{co_id}
	</select>
	<!-- 메세지 데이터조회 -->
	<select id="m_list" parameterType="DB.MessageBean">
		select * from message where co_id=#{co_id}
	</select>
	<select id="view1" parameterType="DB.Message">
		select co_com, co_name, co_phone, co_email from co_member where co_com=#{co_com} and co_name=#{co_name} and co_phone=#{co_phone} and co_email=#{co_email} 
	</select>
	<select id="view2" parameterType="DB.Message">
		select m_title, m_context from message where m_title=#{m_title} and m_context=#{m_context} 
	</select>
	<select id="co_com" parameterType="DB.Message">
		select co_com from co_member where co_com=#{co_com} 
	</select>
	
	
	
</mapper>