<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="QNA_board">
	<insert id="add" parameterType="DB.QNABean">
		insert into QNA_board(q_num, co_id, qna_title, q_regdate, qref_number, readcount, context, q_passwd) 
		values(q_seq.NEXTVAL, #{co_id}, #{qna_title}, #{q_regdate},#{qref_number}, #{readcount}, #{context}, #{q_passwd})
	</insert>
	<select id="get" parameterType="java.lang.Integer" resultType="DB.QNABean">
		select * from QNA_board where q_num=#{q_num}
	</select>
	<update id="countup" parameterType="java.lang.Integer">
		update QNA_board set readcount=readcount+1 where q_num=#{q_num}
	</update>
	
	<update id="modify" parameterType="DB.QNABean">
		update QNA_board set qna_title=#{qna_title}, context=#{context} where q_num=#{q_num} 
	</update>
	<delete id="remove" parameterType="java.lang.Integer">
		delete from QNA_board where q_num=#{q_num}
	</delete>
	<select id="list" resultType="DB.QNABean">
		select * from QNA_board 
	</select>
	<select id="find_passwd" parameterType="java.lang.Integer" resultType="String">
		select q_passwd from QNA_board where q_num=#{q_num}
	</select>
	<select id="find" parameterType="Integer" resultType="DB.QNABean">
		select * from QNA_board where q_num=#{q_num}
	</select>
	
	<select id="all" resultType="DB.QNABean">
		select * from QNA_board
	</select>
	<select id="ArticleView" parameterType="DB.QNABean" resultType="java.lang.Integer">
		select max(q_num) from QNA_board
	</select>
	<select id="getArticle" parameterType="DB.QNABean" resultType="java.lang.Integer">
		select count(*) from QNA_board
	</select>
	<select id="writer_article" parameterType="DB.QNABean" resultType="java.lang.Integer">
		select count(*) from QNA_board where writer like '%'|| #{writer} || '%'
	</select>
	<select id="subject_article" parameterType="DB.QNABean" resultType="java.lang.Integer">
		select count(*) from QNA_board where subject like '%'|| #{subject} || '%'
	</select>
	<select id="content_article" parameterType="DB.QNABean" resultType="java.lang.Integer">
		select count(*) from QNA_board where content like '%'|| #{content} || '%'
	</select>
	
	<select id="getA" parameterType="java.util.HashMap" resultType="DB.QNABean">
		select q_num, p_id, co_id, qna_title, q_passwd, q_regdate, qref_number, context, readCount, r from 
		(select q_num, p_id, co_id, qna_title, q_passwd, q_regdate, qref_number, context, readCount, ROWNUM r from qna_board order by qref_number DESC) 
		<![CDATA[     
		where r>=#{start} 
		 ]]>
		 <![CDATA[
		 and r<=#{end}
		 ]]>
	</select>
	<select id="searchContext" parameterType="java.util.HashMap" resultType="DB.QNABean">
		select * from qna_board 
		<where>
		<if test="search=='qna_title'">
			qna_title like '%'||#{search_context}||'%'
		</if>
		<if test="search=='context'">
			context like '%'||#{search_context}||'%'
		</if>
		<if test="search=='writer'">
			co_id like '%'||#{search_context}||'%' OR p_id like '%'||#{search_context}||'%'
		</if>
		</where>
	</select>
</mapper>